html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  line-height: 1.5;
}

p {
  margin-bottom: var(--margin);
}

h1,
h2,
h3,
h4,
h5 {
  margin: calc(var(--margin) * 2.75) 0 var(--margin);
  font-weight: --font-weight-bold;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.45em;
}

h5 {
  font-size: 1.2em;
}

small {
  font-size: 0.8em;
}
