@use "sass:map";

@mixin button-base {
  border-style: solid;
  text-align: center;
  border-radius: var(--border-radius);
  padding: var(--padding) calc(var(--padding) * 2);
  outline: unset;
}

@mixin button($args: ()) {
  $bg: (
    "background": #000
  );

  $defaults: map-merge($bg, $args);

  $opts: map.merge(
    $defaults,
    (
      "border-color": map.get($defaults, "background"),
      "color": color-contrast(map.get($defaults, "background")),
      "border-width": 1px
    )
  );

  $color: map.get($opts, "color");
  $background: map.get($opts, "background");
  $border-color: map.get($opts, "border-color");
  $border-width: map.get($opts, "border-width");

  color: $color;
  background-color: $background;
  border-color: $border-color;
  border-width: $border-width;

  @include button-base;

  &:hover,
  &:focus {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border-color, 12%);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border-color;
    }
  }
}
