@use "sass:map";

@mixin flexy($args: ()) {
  $flexy_args: (
    "direction": row,
    "wrap": nowrap,
    "flow": row nowrap,
    "justify": flex-start,
    "items": stretch,
    "content": stretch
  );

  $opts: map-merge($flexy_args, $args);

  display: flex;
  flex-direction: map.get($opts, "direction");
  flex-wrap: map.get($opts, "wrap");
  flex-flow: map.get($opts, "flow");
  justify-content: map.get($opts, "justify");
  align-items: map.get($opts, "items");
  align-self: map.get($opts, "self");
  align-content: map.get($opts, "content");
}
